/* 반응형을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
  
    .col {
        flex-basis: 100%;
    }
  }

/* nav */
.navbar {
    display: flex;
    background-color: #121212;
    padding: 10px 20px;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .nav_logo img {
    height: 40px;
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav_links li {
    display: inline-block;
  }
  
  .nav_links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .nav_links a:hover {
    color: #ff00c8;
  }
  
  .club, .earn {
    font-weight: bold;
  }
  
  .nav_btn {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }
  
  .login-btn, .language-btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #ff00c8;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #ff1493;
  }
  
  .language-btn {
    background-color: #333;
  }
  
  .language-btn:hover {
    background-color: #444;
  }


/* Simple Counter */
html, body {
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* 중앙에 내용 배치 */
.counter-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px); /* 화면 높이에서 nav바 높이 제외 */
}

/* Simple Counter */
.counter-container {
  width: 800px;
  height: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.counter-header p {
  font-size: 30px;
  font-weight: bold;
}

.counter-count {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.counter-btn {
  display: flex;
  gap: 5px;
}

.counter-btn button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: lightpink;
  color: #000;
}

.counter-input {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 20px;
}

.counter-input input {
  width: 300px;
  height: 30px;
}

.counter-input button  {
  padding: 8px 20px;
  border-radius: 5px;
}